/*
 * Cover
 */
.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
  color: $pure_white;
  background: rgba(0,0,0,0);
}

/* Style to Call to Action button */
.cover {
  .call-to-action {
    &:hover {
      color: $pure_black;
      background: $pure_white;
    }
  }
}
