//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. footer

// 1. footer
// ---------

footer {
  border: 1px solid $pure_black;
  background-repeat: repeat-x;
  height: 100px;
  padding: 20px;
}
