<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="app/resource/default :: head">
</head>

<body class="homepage">

<header th:replace="app/resource/default :: header"></header>

<script type="text/javascript" th:inline="javascript">
  $(function () {

    $("#btn_comment").click(function (e) {
      $('#commentText').val($('#commentText').val().replace(/\n/g, "<br/>"))
      var commentText = $('#commentText').val();

      if(commentText == "") {
        swal("댓글을 입력해주세요.")
      }

      var data = {commentText : commentText}

      var url = [[${item.idx}]] + "/comment/add";

      l_ajax("post", "json", url, data, function (json) {
        if(json.result == "Y") {
          location.reload();
        } else {
          swal("서버 에러입니다.")
        }
      });

    });

  });
</script>

<div class="jumbotron sub-header sub-header-kitem">
  <div class="container">
    <div class="wow fadeInDown">
      <h1 class="sub-title" style="color: black">지식거래</h1>
      <p class="sub-title-description" style="color: black">사람들과 지식을 나눠보세요~</p>
    </div>
  </div>
</div>

<section id="feature">
  <div class="container">
    <div class="row">

      <div class="item-container">

        <div class="titleArea">
          <h3 class="title" th:text="${item.title}"></h3>
          <span class="sum">
				<span class="date" th:text="${item.getFullDate()}"></span>
			</span>
        </div>
        <div class="authorArea">
          <span class="author" th:text="${item.getUserName()}"></span>
        </div>


        <div class="content">
          <p th:utext="${item.text}"></p>

          <img style="max-width: 100%" th:src="${item.imageUrl}"/>
          <div class="document_popup_menu">
            <a href="#popup_menu_area" class="document_4095956" onclick="return false">이 게시물을 신고하기</a>
          </div>
        </div>

      </div>


      <div class="comment-container">
        <a href="/kitem">
          <button type="button" class="dark-btn"><span>목록으로</span>
          </button>
        </a>

        <h2>댓글&nbsp;&nbsp;<span style="color: #c52d2f" th:text="${commentSize}"></span>개</h2>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 comment-text-input-container">
          <div class="comment-text-display">
            <div class="comment-text-input-top-text">
              <span>댓글 달기</span>
            </div>
            <div class="comment-text-length-counter">
            </div>
          </div>
          <div class="comment-text-input-controls">
            <div class="comment-text-input">
              <div>
                <textarea name="commentText" id="commentText"></textarea>
              </div>
            </div>
            <div class="comment-text-input-btn">
              <button id="btn_comment"><span>등록</span>
              </button>
            </div>
          </div>

          <div class="comment-display" th:each="item,index: ${comments}">

            <div class="comment-item">
              <div class="comment-display-meta">
                <div class="comment-display-user-meta-container">
                  <div class="comment-display-username" th:text="${item.getUserName()}">
                  </div>
                </div>
                <div class="comment-display-meta-info">
                <span>
                <span th:text="${item.createdDate}"></span>
              </span>
                </div>
              </div>
              <div class="comment-display-text-container">
              <span class="Linkify">
                <div class="comment-display-text">
                  <p th:utext="${item.text}"></p>
                </div>
              </span>
              </div>
            </div>

          </div>


        </div>


      </div>


    </div>
  </div>
</section>


<footer th:replace="app/resource/default :: footer"></footer>

</body>
</html>