//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Header
//   2. Body
//   3. Footer


/*******************************
 *********** Imports ***********
 *******************************/
// 1. Header
//    Contents related to what's in the Header
// ---------
@import 'header/header';

// 2. Body
//    Contents related to what's in the Body
// ---------
@import 'content/content';
@import 'artist/artist';

// 3. Footer
//    Contents related to what's in the Footer
// ---------
@import 'footer/footer';


/*******************************
 *********** Globals ***********
 *******************************/
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Smooth hovering for links */
a {
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all .25s ease-in-out; /** Firefox **/
  -o-transition: all .25s ease-in-out; /** Opera **/
}


/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  font-family: 'Roboto', sans-serif;
}
body {
  padding: 0 !important;
  margin: 0 !important;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background: url("/assets/image/bg.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
