<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="app/resource/default :: head">
</head>

<body class="homepage">

<header th:replace="app/resource/default :: header"></header>

<div class="jumbotron sub-header sub-header-iitem">
  <div class="container">
    <div class="wow fadeInDown">
      <h1 class="sub-title">물물거래</h1>
      <p class="sub-title-description">사람들과 원하는 물건을 안전하고 간단하게 거래해보세요.</p>
    </div>
  </div>
</div>

<section id="feature">
  <div class="container">
    <div class="row">

      <table id="myTable" style="width: 100%" class="table dataTable dtr-inline">
        <thead>
        <tr>
          <th width="30">순번</th>
          <th width="700">제목</th>
          <th width="80">금액</th>
          <th width="100">작성자</th>
          <th width="100">작성날짜</th>
        </tr>
        </thead>
        <tbody style="background: white">

        <tr th:each="item,index: ${itemList}">
          <td th:text="${index.size - index.count + 1}"></td>
          <td><a th:href="@{'/iitem/'+${item.idx}}" th:text="${item.title}"></a></td>
          <td th:text="${item.price}"></td>
          <td th:text="${item.getUserName()}"></td>
          <td th:text="${item.createdDate}"></td>
        </tr>

        </tbody>
      </table>

      <a href="/iitem/add" class="btn btn-warning" th:if="${sessionContext.getIsLogin()} != false">글작성하기</a>



    </div>
  </div>
</section>



<footer th:replace="app/resource/default :: footer"></footer>

</body>
</html>