//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. artist

// 1. artist
// ---------

.artist {
  text-align: center;  

  .artist-list {
    display: list-item;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
