<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="app/resource/default :: head">
</head>

<body class="homepage">

<header th:replace="app/resource/default :: header"></header>

<section id="feature">
  <div class="container">
    <div class="login-title">
      <h2>회원가입</h2>
      <p class="lead">간단한 정보만 입력하시고 인증만 하시면 회원이 될 수 있습니다.</p>
    </div>
    <div class="row login-wrap">
      <form id="form" class="contact-form" name="form">
        <div>
          <div class="form-group">
            <label>아이디</label>
            <input type="text" name="name" class="form-control" required="required"/>
          </div>
          <div class="form-group">
            <label>닉네임</label>
            <input type="email" name="email" class="form-control" required="required"/>
          </div>
          <div class="form-group">
            <label>비밀번호</label>
            <input type="email" name="email" class="form-control" required="required"/>
          </div>
          <div class="form-group">
            <label>비밀번호 확인</label>
            <input type="text" name="name" class="form-control" required="required"/>
          </div>
        </div>

        <div style="width: 100%; border-top: 1px solid;"></div>
        <br/>
        <div class="singup-terms">
          <div class="signup-terms-title">
            <span>전남대학생 인증을 하셔야 서비스를 정상적으로 이용하실 수 있습니다.</span>
          </div>
          <div>
            <div class="form-group">
              <label>학번</label>
              <input type="text" name="name" class="form-control" required="required"/>
            </div>
            <div class="form-group">
              <label>이름</label>
              <input type="email" name="email" class="form-control" required="required"/>
            </div>
          </div>
          <button type="button" class="btn btn-warning">인증하기
          </button>
        </div>





        <button class="btn-primary">
          <span>회원 가입</span>
        </button>


        <div class="footer-box">
          <span>
            <a href="/login">
              <button type="button" class="dark-btn"><span>LOGIN</span>
              </button>
            </a>
          </span>
          <span>
            <span>이미 회원이세요?</span><br/>
            <span>로그인 하시면 더욱 많은 기능을 이용하실수 있습니다.^^</span>
          </span>
        </div>

      </form>
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#contact-page-->

<footer th:replace="app/resource/default :: footer"></footer>

</body>
</html>
