<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="app/resource/default :: head">
</head>

<body class="homepage">

<header th:replace="app/resource/default :: header"></header>

<section id="contact-info">
  <div class="container">
    <div class="center">
      <h2>메일을 보내주세요.</h2>
      <p class="lead">메일을 확인하는 즉시 바로 회신드리겠습니다.</p>
    </div>
    <div class="row contact-wrap">
      <div class="status alert alert-success" style="display: none"></div>
      <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="/sendemail">
        <div class="col-sm-5 col-sm-offset-1">
          <div class="form-group">
            <label>이름 *</label>
            <input type="text" name="name" class="form-control" required="required"/>
          </div>
          <div class="form-group">
            <label>메일 *</label>
            <input type="email" name="email" class="form-control" required="required"/>
          </div>
          <div class="form-group">
            <label>핸드폰번호</label>
            <input name="phone" type="number" class="form-control"/>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label>제목 *</label>
            <input type="text" name="subject" class="form-control" required="required"/>
          </div>
          <div class="form-group">
            <label>내용 *</label>
            <textarea name="message" id="message" required="required" class="form-control" rows="8"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">메일 보내기
            </button>
          </div>
        </div>
      </form>
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#contact-page-->


<footer th:replace="app/resource/default :: footer"></footer>

</body>
</html>