<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
  <meta charset="UTF-8"/>
  <title>SYLC Admin</title>
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="/cms/stylesheets/bootstrap.min.css" />
  <!-- Custom CSS -->
  <link href="/cms/stylesheets/sb-admin.css" rel="stylesheet"/>
  <!-- Custom Fonts -->
  <link href="/cms/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

  <!-- jQuery -->
  <script src="/cms/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/cms/js/bootstrap.min.js"></script>
  <script src="/cms/js/common.js"></script>
  <script src="/cms/js/dropzone.js"></script>

</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:fragment="default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin/main">SYLC Admin</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <a href="/admin/logout"><i class="fa fa-fw fa-power-off"></i>Log Out</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i
            class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo" class="collapse">
            <li>
              <a href="#">Dropdown Item</a>
            </li>
            <li>
              <a href="#">Dropdown Item</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/admin/main/"><i class="fa fa-fw fa-file"></i> Blank Page</a>
        </li>
        <li>
          <a href="/admin/banners/"><i class="fa fa-fw fa-file"></i> Banner</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>


</body>
</html>