//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. header

// 1. header
// ---------
/* navbar */
.navbar {
  left: 0;
  position: absolute;
  right: 0;
  top: 0px;
}

.navbar {
  .container, .navbar-header {
    height: 100%;
  }
}



/* Aligning the menu items to left for MOBILE */
/* Giving indentatio to menu items for MOBILE */
.navbar-nav > li > a {
  text-align: left;
  margin-left: 15px;
}

/* Customizing Bootstrap's button in the header nav */
.btn-toolbar {
  .link-locale {
    padding: 15px;
    border: none;
    display: inline-block;
  }
}

.navbar-inverse {
  background-color: rgba(0,0,0,0.1);
  border: none;
}

/* Making the hamburger menu clickable over the navbar-header */
.navbar-toggle {
  height: 100%;
  z-index: 10;
  float: left;
  margin-left: 15px;
  border: none;
}

/* Centralizing the LOGO */
.navbar-brand {
  color: #fff !important;
  height: 100%;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
    margin-bottom: 30px;
  }
  .masthead-nav {
    float: right;
  }
  .navbar-brand {
    position: relative;
    text-align: left;
    left: 0;
    right: 0;
  }

  /* Navbar item effect */
  .navbar-nav > li > a {
    &:hover {
      border-bottom: 1px solid #fff;
    }
  }
}
